<div class="h-[calc(100svh-8rem)]  overflow-auto px-5">
    <!-- Introduction Section -->
    <section class="py-10 text-center">
        <h2 class="text-2xl font-semibold">Hello! I'm Raphaël</h2>
        <p class="mt-4 text-gray-700 max-w-2xl mx-auto">
            I'm a passionate developer with experience in Angular, Flutter, and various tech stacks. I love creating engaging and efficient applications.
        </p>
    </section>

    <!-- Skills Section -->
    <section class="py-10 w-full">
        <h2 class="text-2xl font-semibold text-center">Skills</h2>
        <div class="container mx-auto grid grid-cols-2 md:grid-cols-3 gap-6 mt-6">
            <a target="_blank" href="https://flutter.dev" class="flex flex-col items-center">
                <img src="assets/images/flutter-logo.png" alt="Flutter" class="h-16 mb-2" />
                <h3 class="font-medium">Flutter</h3>
            </a>
            <a target="_blank" href="https://dart.dev" class="flex flex-col items-center">
                <img src="assets/images/dart-logo.png" alt="Dart" class="h-16 mb-2" />
                <h3 class="font-medium">Dart</h3>
            </a>
            <a target="_blank" href="https://angular.dev" class="flex flex-col items-center">
                <img src="assets/images/angular-logo.png" alt="Angular" class="h-16 mb-2" />
                <h3 class="font-medium">Angular</h3>
            </a>
            <a target="_blank" href="https://www.typescriptlang.org" class="flex flex-col items-center">
                <img src="assets/images/typescript-logo.png" alt="TypeScript" class="h-16 mb-2" />
                <h3 class="font-medium">TypeScript</h3>
            </a>
            <a target="_blank" href="https://docs.nestjs.com" class="flex flex-col items-center">
                <img src="assets/images/nestjs-logo.png" alt="NestJs" class="h-16 mb-2" />
                <h3 class="font-medium">NestJs</h3>
            </a>
            <a target="_blank" href="https://nodejs.org/en" class="flex flex-col items-center">
                <img src="assets/images/nodejs-logo.png" alt="Node.js" class="h-16 mb-2" />
                <h3 class="font-medium">Node.js</h3>
            </a>
        </div>
    </section>

    <!-- Projects Section -->
    <section class="py-10">
        <h2 class="text-2xl font-semibold text-center">Projects</h2>
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
            <div class="shadow-md rounded-lg overflow-hidden">
                <img src="assets/images/angular-logo.png" alt="Project 1" class="w-full h-40 object-cover" />
                <div class="p-4">
                    <h3 class="font-medium">My very first Web project</h3>
                    <p class="text-gray-700 mt-2">A nice little static website to show nasa's apollo missions. It's all made from pure HTML, CSS and JavaScript.</p>
                </div>
            </div>
            <div class="shadow-md rounded-lg overflow-hidden">
                <img src="assets/images/flutter-logo.png" alt="Project 2" class="w-full h-40 object-cover" />
                <div class="p-4">
                    <h3 class="font-medium">Project Title 2</h3>
                    <p class="text-gray-700 mt-2">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                </div>
            </div>
            <div class="shadow-md rounded-lg overflow-hidden">
                <img src="assets/images/typescript-logo.png" alt="Project 3" class="w-full h-40 object-cover" />
                <div class="p-4">
                    <h3 class="font-medium">Project Title 3</h3>
                    <p class="text-gray-700 mt-2">Brief description of the project. Highlight the technologies used and the problem solved.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="py-10 w-full">
        <h2 class="text-2xl font-semibold text-center">Contact Me</h2>
        <p class="text-center mt-4">Feel free to reach out via <a href="mailto:raphthearrow@gmail.com" class="text-blue-600">raphthearrow&#64;gmail.com</a></p>
    </section>

    <!-- Footer Section -->
    <footer class="py-6 w-full text-center">
        <p>&copy; 2024 Raphaël Rail. All Rights Reserved.</p>
    </footer>
</div> 